body {
    font-family:'Calibri', 'Arial', 'Sans-Serif';
    margin: 60px auto;
    width: 70%;
}
header {
    padding: 1px;
    text-align: right;
    font-size: 1;
}
nav ul, footer ul {
    font-family:'Calibri', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    font-family:'Calibri', 'Arial', 'Sans-Serif';
    display: inline;
    margin-right: 20px;
}
a {
    font-family:'Calibri', 'Arial', 'Sans-Serif';
    text-decoration: none;
    color: #000099;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Calibri', 'Arial', 'Sans-Serif';
    margin-bottom: 0;
    line-height:0.1em;
    color: #000000;
}
h2 {
    margin-bottom: 0;
    line-height:0.1;
    color: #000000;
    font-family:'Calibri', 'Arial', 'Sans-Serif';
    font-size: 2;
}
h2.blueText {
  color: #000099;
}
p {
    font-size: 1em;
    font-family:'Calibri', 'Arial', 'Sans-Serif';
    margin-top: 0;
    line-height: 0.1em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-family:'Calibri', 'Arial', 'Sans-Serif';
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-family:'Calibri', 'Arial', 'Sans-Serif';
    font-size: 1em;
}

ul.posts li {
    list-style: none;
}
