<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			{% include google_analytics.html %}
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<header>
					<h2><span class="blueText">Sid</span>dharth<br>Kurwa</h2>
			</header>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/experience">Experience</a></li>
	        		<li><a href="/portfolio">Portfolio</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:siddharth.kurwa@gmail.com" target = "_blank">Email</a></li>
							<li> | </li>
              <li><a href="https://www.linkedin.com/in/siddharthkurwa/" target = "_blank">LinkedIn</a></li>
							<li> | </li>
	        		<li><a href="https://github.com/skurwa" target = "_blank">Github</a></li>
							<li> | </li>
							<li><a href ="/docs/Resume - Siddharth Kurwa.pdf" target = "_blank">Download Resume</a></li>
							<li> | </li>
							<li><a href ="/docs/Project Portfolio - Siddharth Kurwa.pdf" target = "_blank">Download Portfolio</a></li>
				</ul>
			</footer>
		</body>
	</html>
