<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125467149-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-125467149-1');
			</script>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% seo %}
		</head>
		<body>
			<header>
					<span class = "header"><h2><span class ="blueText">Sid</span>dharth Kurwa</h2></span>
			</header>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/experience">Experience</a></li>
	        		<li><a href="/portfolio">Portfolio</a></li>
	        		<li><a href="/blog">Blog</a></li>
							<!-- <span style ="float:right">
								<li><a href ="/docs/Resume - Siddharth Kurwa.pdf" target = "_blank">Download Resume</a></li>
								<li><a href ="/docs/Project Portfolio - Siddharth Kurwa.pdf" target = "_blank">Download Portfolio</a></li>
							</span> -->
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:siddharth.kurwa@gmail.com" target = "_blank">Email</a></li>
              <li><a href="https://www.linkedin.com/in/siddharthkurwa/" target = "_blank">LinkedIn</a></li>
	        		<li><a href="https://github.com/skurwa" target = "_blank">Github</a></li>
							<li><a href ="/docs/Resume - Siddharth Kurwa.pdf" target = "_blank">Download Resume</a></li>
							<li><a href ="/docs/Project Portfolio - Siddharth Kurwa.pdf" target = "_blank">Download Portfolio</a></li>
				</ul>
			</footer>
		</body>
	</html>
